@import 'flowbite/dist/flowbite.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family: 'eastman';
  src: url("/fonts/EastmanRomanTrial-Regular.otf") format("opentype");
}
@font-face{
  font-family: 'eastman-bold';
  src: url("/fonts/Eastman-Bold.ttf") format("truetype");
}
@font-face{
  font-family: 'eastman-black';
  src: url("/fonts/EastmanRomanTrial-Black.otf") format("opentype");
}
@font-face{
  font-family: 'lato';
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
}
@font-face{
  font-family: 'lemon';
  src: url("/fonts/LEMONMILK-Regular.otf") format("opentype");
}
@font-face{
  font-family: 'lemon-bold';
  src: url("/fonts/LEMONMILK-Bold.otf") format("opentype");
}


@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
}

.eastman{
  font-family: 'eastman';
}

@theme {
  --breakpoint-3xl: 105rem;
  --breakpoint-4xl: 121rem;
}

*{
  scroll-behavior: smooth;
  
}

textarea{
  resize: none;
}

